<div class="card mx-auto" style="width: 50rem;">
  
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Instructor: {{instructor}}</li>
    <li class="list-group-item">Day: {{day}}</li>
    <li class="list-group-item">Time: {{time}}</li>
     <li class="list-group-item">StartDate: {{startDate}}</li>
    <li class="list-group-item">Duration: {{duration}}</li>
    <li class="list-group-item">Cost: {{cost}}</li>
  </ul>
  <div class="card-body">
    <a href="/index/courses" class="card-link">Back</a>
    <a href="/send-email" class="card-link">Create a trial lesson</a>
  </div>
</div>



















