{{! views/private.hbs }}

<h2>Admin page</h2>

<p>Welcome {{user.username}}</p>
{{#each courses}}
<h3>{{title}}</h3>
 <img src="{{imageUrl}}"  height="200" width="200">
  <p>{{description}}</p>
  <a href='/courses/{{_id}}'>Details</a>


  


<h4>Edit the course: {{title}}</h4>
 
<form action="/courses/{{_id}}/edit" method="post">
 
  <label for="title-input">Title:</label>
  <input type="text" name="title" id="title-input" value="{{title}}" />
 
  <label for="instructor-input">Instructor:</label>
  <input type="text" name="instructor" id="instructor-input" value="{{instructor}}" />

  <label for="day-input">Day:</label>
  <input type="text"name="day"id="day-input"value="{{day}}"/>

  <label for="time-input">Time:</label>
  <input type="text"name="time"id="time-input"value="{{time}}"/>

  <label for="startDate-input">StartDate:</label>
  <input type="text"name="startDate"id="startDate-input"value="{{startDate}}"/>

  <label for="duration-input">Duration:</label>
  <input type="text"name="duration"id="duration-input"value="{{duration}}"/>

  <label for="cost-input">Cost:</label>
  <input type="text" name="cost"id="cost-input"value="{{cost}}"/>




   <input type="text" name="id" value="{{_id}}" hidden/>
   <button type="submit">Save changes</button>
 
</form>
<a href='/courses/{{_id}}/delete'>Delete</a>
<hr>
{{/each}}



